/* Author: datj9003  */

/* Creating variables for common styles */
:root{

  --dark-color: rgb(33, 32, 41);
  --dark-grey: rgb(68, 68, 68);
  --light-color: rgb(248, 248, 248);
  --cards-color: rgb(240, 240, 240);

  --primary-color: rgb(249, 130, 255);
  --secondary-color: rgb(59, 199, 255);
  --third-color: rgb(251, 252, 174);

  --fontfamily-main: 'Poppins', 'Verdana', 'Arial', sans-serif;
  --fontfamily-title:'Gochi Hand', 'Segoe script', 'Rage', cursive;

  --fontsize-p-small: .8rem;
  --fontsize-p-medium: 1rem;
  --fontsize-p-large: 1.5rem;

  --fontsize-title-large: 5rem;
  --fontsize-title-medium: 3rem;
  --fontsize-title-small: 2rem;

  --padding-medium: 20px;
  --padding-large: 30px;

  --borderradius-standard: 20px;
  --boxshadow-standard: rgba(0, 0, 0, 0.15) 0px 20px 25px -5px, rgba(0, 0, 0, 0.08) 0px 10px 10px -5px;
}


/* Design for HTML5 elements */ 
* {
  box-sizing: border-box;
}

p{
  font-family: var(--fontfamily-main);
  font-size: var(--fontsize-p-medium);
  line-height: 1.5;
}

h1, h2, h3 {
  margin: 1rem auto;
  font-family: var(--fontfamily-title);
}

h1{
  color: var(--secondary-color);
  font-size: var(--fontsize-title-medium);
}

h2 {
  font-size: var(--fontsize-title-medium);
}

h3 {
  font-size: var(--fontsize-title-small)
}

body {
  height: 100%;
  background: var(--dark-color) url("../img/surfing.jpg") no-repeat center;
  background-size:cover;
  color: var(--dark-grey);
}

header {
  opacity: 0.8;
  text-align: center;
  padding: var(--padding-medium);
  border-bottom: solid 1px var(--dark-grey);
  background-color: var(--dark-color);
}

header p {
  color: var(--light-color);
  font-size: var(--fontsize-p-medium);
  font-style: italic;
}

nav {
  position: sticky;
  top:0; 
  opacity: 0.8;
  width: 100%;
  margin: 0 auto;
  background-color: var(--dark-color);
  font-size: var(--fontsize-p-large);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  text-align: center;
  padding: var(--padding-large) var(--padding-medium);

}

nav a {
  font-family: var(--fontfamily-main);
  font-weight: bold;
  text-decoration: none;
  text-transform:uppercase;
  color: var(--light-color);
}

nav a:hover {
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}

a:hover {
  color: var(--primary-color);
}

main > section, aside {
  margin: 3rem auto;
  border-radius: var(--borderradius-standard);
}

/* Set the content-width to 70% */ 
main, aside {
  margin: 0 auto;
  width: 70%;
}

/* Use flex container for the main-content */ 
#container {
  display: flex;
  flex-direction: column;
}

/* Product section, design */
 #products {

   width: 100%;
   display: grid;
   grid-template-rows: repeat(4, 1fr);
   grid-template-columns: repeat(1, 1fr);
   row-gap: 5rem;
   column-gap: 2rem;
 }

 #products article {
   margin: 0 auto;
   width: 100%;
   min-width: 250px;
   max-width: 600px;
   text-align: center;
   background-color: var(--cards-color);
   border-radius: var(--borderradius-standard);
   padding: var(--padding-large);
   box-shadow: var(--boxshadow-standard);
 }

 #products article:hover{
    transform: translateY(-10px);
    transition: ease-in-out 0.3s;
 }
 
 #products h3{
  margin: 1rem auto;
  font-size: var(--fontsize-p-large);
  font-family: var(--fontfamily-main);
}

#products article img{
  height: 100%;
  max-width: 100%;
  max-height: 350px;
  margin: 1rem auto;
}

#products article p{
  height: 100%;;
  margin: 1rem auto;
}


/* Classes section, design*/ 
#classes h2{
  font-size: var(--fontsize-title-large);
  color: var(--light-color);
  text-align: center;
}

table {
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  font-size: var(--fontsize-p-large);
  font-family: var(--fontfamily-main);
  background-color: var(--light-color);
  border-collapse: collapse;
  box-shadow: var(--boxshadow-standard);
}

table th, tr, td {
  text-align: center;
  vertical-align: middle;
  height: 100px;
  padding: 1rem;
}

th {
  font-weight: bold;
  background-color: var(--dark-color);
  color: var(--light-color);
}

th:first-of-type{
  border-top-left-radius: 10px;
}

th:last-of-type{
    border-top-right-radius: 10px;
}

tr:nth-of-type(even){
  background-color: rgb(230, 230, 230)
}

tr:hover {
  background-color: rgb(205, 205, 205);
}


/* Story section, design */ 
#story {
  text-align: center;
  background-color: var(--cards-color);
  padding: var(--padding-large);
  box-shadow: var(--boxshadow-standard);
}

#story h2, h3{
  margin: 3rem auto;
}

#story h2:first-of-type{
  font-size: var(--fontsize-title-large);
}

#story img{
  float:inline-end;
  border-radius: var(--borderradius-standard);
  margin: 1rem auto;
  max-height: 400px;
  height: 100%;
}

#story p {
  font-size: var(--fontsize-p-medium);
  margin: 1rem 2rem;
}


/* Newsletter section, design */ 
aside {
  margin: 3rem auto 0 auto;
  width: 80%;
  font-size: var(--fontsize-p-medium);
  font-family: var(--fontfamily-main);
  padding: 75px;
  background-color: var(--cards-color);
  box-shadow: var(--boxshadow-standard);
}


aside h2 {
  font-size: var(--fontsize-title-medium);
  margin-bottom: 0;
}

aside h3 {
  font-size: var(--fontsize-title-small);
}

aside p {
  font-size: var(--fontsize-p-large);
}

aside form {
  margin: 2rem auto 0 auto;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input{
  margin-bottom: 1rem;
  height: 40px;
  width: 100%;
}

form > ul > li > ul{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

form li:last-child {
  text-align: center;
}

form input[type="Submit"] {
  font-size: var(--fontsize-p-large);
  cursor: pointer;
  background-color: var(--secondary-color);
  border: none;
  border-radius: var(--borderradius-standard);
  width: 50%;
  margin: 2rem auto;
  box-shadow: var(--boxshadow-standard);
}

form input[type="Submit"]:hover{
  transform: translateY(-5px);
  transition: ease-in-out 0.2s;
}

form input{
  border-width: 2px;
  border-color: var(--light-color);
  border-radius: 10px;
}

form input:focus{
  outline: none !important;
  border: 2px solid var(--secondary-color);
}

/* Setting the placeholder text alignment for input fields. Works with modern browsers */ 
::-webkit-input-placeholder {
  padding-left: 10px;
  text-align: left;
}
:-moz-placeholder {
  padding-left: 10px;
  text-align: left;
}

/* Footer */
footer {
  opacity: 0.8;
  background-color: var(--dark-color);
  text-align: center;
  color: var(--light-color);
  height: 100%;
  padding: var(--padding-large);
  border-top: solid 1px var(--dark-grey);
  margin-top: 3rem;
}


/* Media query, for larger screens */ 
@media only screen and (min-width: 1000px) {


   /* The sections width can be increased to 80% of the screen width */ 
  main, aside {
    margin: 0 auto;
    width: 80%;
  }

  h1 {
    font-size: var(--fontsize-title-large);
  }

  /* Tightening the links in the nav */ 
  nav ul {
    justify-content: center;
  }

  nav ul li {
    margin: 0 2rem;
  }

  /* Change the gridlayout to 2 rows and cols */ 
  #products {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
  }

  #products article h2{
    font-size: var(--fontsize-title-small);
  }

  #story h2,h3 {
    margin: 2rem auto;
  }
}


/* Media query, for even larger screens */ 
@media only screen and (min-width: 1600px) {

  /* Adjust the width to create a better the layout */
  main {
    width: 90%;
  }

  aside {
    width: 55%;
  }

  /* Change the grid to 4 columns */ 
  #products {
    width: 90%;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  #classes, #story{
    width: 60%;
  }
}
 




